@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            item.Quantity = item.Products.Count();
            <tr>
                <td>
                    <a href=@($"http://localhost:5000/Products/GetProductsByCategory/{item.ProductTypeId}")>@Html.DisplayFor(modelItem => item.Label)
                    @*asp-route-id="@item.ProductTypeId">*@
                    @*@Html.DisplayFor(modelItem => item.Label)*@
                    </a> (@item.Quantity)
    <ul>

        @{
                        foreach (var product in item.Products)
            {
                <li>@Html.DisplayFor(modelItem => product.Title)</li>
            }
        }
    </ul>
</td>
<td>
    <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>
</td>
</tr>
}
    </tbody>
</table>
